@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Silkscreen&display=swap');

* {
  font-family: Poppins;
  width: 20rem;
  min-height: 15rem;
}

.App {
  text-align: center;
}